<mat-drawer #drawer class="example-sidenav" mode="over">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</mat-drawer>

<!--<div class="menu">

  

  

  <mat-drawer-container class="example-container" autosize>
    
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>    
</div>-->


