.contenido {
    padding: 20px;
  }
  
  .contenido p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .contenido h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contenido .btn {
    background-color: #1100ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contenido .btn:hover {
    background-color: #0056b3;
}
  